
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;



}

body {
  background: #f4f6f8;
  color: #333;
}

.header {
  background: #027fe9;
  color: #fff;
  text-align: center;
  padding: 40px 20px;
}

.header h1 {
  font-size: 32px;
}

.header p {
  margin: 10px 0 20px;
 
}

.btn {
  background: #00b4cc;
  color: #fff;
  padding: 12px 20px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  transition: 0.3s ease;
}

.btn:hover {
  background: #00b4cc;
}

  .contato{

  padding: 40px 20px;
  max-width: 1000px;
  margin: 0  auto;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 15px;
}

.sobre p {
  text-align: center;
  max-width: 700px;
  margin: auto;
   margin-bottom: 10px;
}

.imoveis .cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background: #fff;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h3 {
  padding: 10px;
}

.card p {
  padding: 0 10px 15px;
}

.vantagens ul {
  list-style: none;
  max-width: 400px;
  margin: 20px auto;
}

.vantagens li {
  margin-bottom: 10px;
}

.contato {
  text-align: center;
  background: #eaf2f8;
}

.clique {
  margin-bottom: 15px;
}

.footer {
  text-align: center;
  padding: 15px;
  background: #027fe9;
  color: #fff;
  font-size: 14px;
}

/* Responsivo */
@media (max-width: 768px) {
  .header h1 {
    font-size: 24px;
  }

  .card {
    width: 100%;
  }
}

@media (max-width: 768px) {

  .header {
    padding: 30px 15px;
  }

  .header h1 {
    font-size: 24px;
  }

  .header p {
    font-size: 14px;
  }

  section {
    padding: 30px 15px;
  }

  h2 {
    font-size: 20px;
  }

  .sobre p {
    font-size: 14px;
  }

  .imoveis .cards {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 100%;
    max-width: 340px;
  }

  .card img {
    height: 180px;
  }

  .btn {
    width: 100%;
    max-width: 280px;
    text-align: center;
  }

  .vantagens ul {
    font-size: 14px;
  }

  .footer {
    font-size: 12px;
  }
}
